
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

html,
body{
    padding: 0;
    margin: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-family: Noto Sans;
}
.main-container{
   display: flex;
   flex-direction: column; 
   overflow-x: hidden;
   width: 100%;
   background: transparent url('/images/Group 7.png') 0% 0% no-repeat padding-box;;
   background-size: 1112px 1428px;
   background-position-y:-187px;
   background-position-x: 1256px;
   opacity: 1;
   @media (max-width: 570px) {
    background-size: contain;
    background-position-y: 5px;
    background-position-x: 200px;
   }
}

.more-menu{
    display: none;
    @media (max-width: 570px) {
        display: flex;
        width: 27px;
        height: 18px;
    }
}

.nav-container{
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 9px 12px 0 12px;
    @media (max-width: 570px) {
        justify-content: space-between;
    }
}
a {
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0px;
    white-space: nowrap;
    @media (max-width: 1440px) {
        font-size: 16px;
    }
    @media (max-width: 570px) {
        display: none;
    }
  }
.logo {
width: 399px;
height: 193px;
background:  #e76363;
opacity: 1;
@media (max-width: 570px) {
    width: 176px;
    height: 85px;
    }
}
.page-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;

    @media (max-width: 570px) {
        flex-direction: column-reverse;
    }
    &--left-text{
        margin-top: 77px;
    }
    &--right-image{
        display: flex;
        width: 893px;
        height: 893px;
        background: transparent url('/images/software-development (3).png') 0% 0% no-repeat padding-box;
        opacity: 1;
        @media (max-width: 570px) {
        width: 100%;
        height: 373px;
        background-size: contain;
        }
    }
}

.left-text-content{
    display: flex;
    flex-direction: column;
    width: 652px;
    gap: 12px;
    @media (max-width: 570px) {
        width: 100%;
        white-space: wrap;
        text-align: left;
    }
    label:nth-child(1) {
        text-align: left;
        font: normal normal bold 74px/89px Sole Serif Caption;
        letter-spacing: 0px;
        color: #000000;
        @media (max-width: 570px) {
            font: normal normal bold 38px/46px Sole Serif Caption;
        }
    }
    label:nth-child(2) {
        font: normal normal 600 39px/49px Noto Sans;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        @media (max-width: 570px) {
            font: normal normal 600 20px/25px Noto Sans;
        }
    }
    label:nth-child(3) {
        font: normal normal normal 24px/35px Noto Sans;
        letter-spacing: 0px;
        color: #656565;
        opacity: 1;
        @media (max-width: 570px) {
            font: normal normal normal 12px/17px Noto Sans;
        }
    }
}

.button{
    appearance: none !important;
    border: none !important;
}

.meet-expert{
    margin-top: 44px;
    button{
        width: 273px;
        height: 82px;
        background: transparent linear-gradient(91deg, #E33E00 0%, #D73809 32%, #890670 100%) 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        font: normal normal 600 21px/28px Segoe UI;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
        @media (max-width: 570px) {
            width: 143px;
            height: 43px;
            font: normal normal 600 10px/14px Segoe UI;
        }
    }
}

.server-image{
    display:inline-block;
    position:absolute;
    top: 258px;
    left: 836px;
    width: 210px;
    height: 210px;
    background: transparent url('/images/server.png') 0% 0% no-repeat padding-box;
    opacity: 1;
   z-index: 5;
   @media (max-width: 570px) {
    width: 88px;
    height: 88px;
    background-size: contain;
    top: 123px;
    left: 20px;
   }
    &:hover{
        transform: scale(1.1);
        transition: 0.5s ease-in-out;
        transform-origin:top right;  
    }
}

.image-tools{
    position: relative;
    top: 334px;
    left: 410px;
    width: 227px;
    height: 221px;
    background: transparent url('/images/app-development (1).png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.right-image-bottom-item{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.image-api{
    position: relative;
    top: 650px;
    width: 232px;
    height: 232px;
    background: transparent url('/images/api (1).png') 0% 0% no-repeat padding-box;
    opacity: 1;
    @media (max-width: 570px) {
        width: 97px;
        height: 97px;
        top: 275px;
        left: -133px;
        background-size: contain;
    }

    &:hover {
        animation-name: scale-out;
        transition-delay: 0.3s;
        animation-duration: 0.5s;
        animation-timing-function: both;
    }
}

.image-code{
    position: relative;
    top: 650px;
    margin-left: -40px;
    z-index: 2;
    width: 232px;
    height: 232px;
    background: transparent url('/images/code.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    @media (max-width: 570px) {
        width: 97px;
        height: 97px;
        background-size: contain;
        top: 275px;
        left: -133px;
        background-size: contain;
    }

    &:hover {
        animation-name: scale-out;
        transition-delay: 0.3s;
        animation-duration: 0.5s;
        animation-timing-function: both;
    }
}

.page-middle-container{
    display: flex;
    flex-direction: column;
    margin-top: 126px;
    align-items: center;
}

.page-middle-text{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    & label:nth-child(1) {
        color: var(--unnamed-color-000000);
        text-align: center;
        font: normal normal bold 47px/59px Sole Serif Caption;
        letter-spacing: 0px;
        color: #000000;
        text-transform: lowercase;
        opacity: 1;
    }

    & label:nth-child(2) {
        color: var(--unnamed-color-919191);
        text-align: left;
        font: normal normal normal 22px/25px Noto Sans;
        letter-spacing: 0px;
        color: #919191;
        opacity: 1;
        @media (max-width: 570px) {
            text-align: center;
        }
    }
}

.services-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 66px;
    gap: 26px;
    @media (max-width: 570px) {
        flex-direction: column;
    }
}
.service-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    width: 460px;
    height: 600px;
    opacity: 1;
    padding: 32px;
    @media (max-width: 570px) {
        width: 100%;
    }
    & label{
        text-align: left;
        font: normal normal bold 18px/18px Noto Sans;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
}

.header-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
    & label:nth-child(1) {
        font: normal normal 600 21px/24px Noto Sans;
        letter-spacing: 0px;
        color: #B053EC;
        opacity: 1;
    }

    & label:nth-child(2) {
        text-align: left;
        font: normal normal 600 26px/36px Noto Sans;
        letter-spacing: 0px;
        color: #000000;
        text-transform: capitalize;
        opacity: 1;
        @media (max-width: 570px) {
            font: normal normal 600 16px/22px Noto Sans;
        }
        &[data-state="active-1"] {
            animation: transform-translate 1s linear;
        }
        &[data-state="active-2"] {
            animation: transform-translate 1s linear;
        }
        &[data-state="active-3"] {
            animation: transform-translate 1s linear;
        }
    }
}
.middle-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 199px;
    opacity: 1;
    @media (max-width: 570px) {
        width: 307px;
    }
    &[data-state="active-1"] {
            background:#70026D !important ;
        }
    &[data-state="active-2"]{
            background:#E33E00 !important ;
        }
    &[data-state="active-3"] {
            background:#70026D !important;
    }
    img{
       transform: translateY(-30px);
        width: 246px;
        height: 246px;
    };
}

.services-tag {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 13px;

    & .tag {
        padding: 7px 23px 10px 26px;
        background: #E5E8FD 0% 0% no-repeat padding-box;
        border-radius: 1px;
        opacity: 1;
        font: normal normal 600 16px/18px Noto Sans;
        letter-spacing: 0px;
        color: #8197F7;
        opacity: 1;
    }
}

.learn-more{
    appearance: none;
    border: none;
    width: 157px;
    height: 50px;
    background: transparent linear-gradient(90deg, #A95DE7 0%, #727BF0 100%) 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    font: normal normal 600 18px/27px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.page-latter-container{
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    height: 1350px;
    align-items: flex-start;
    background: transparent url('/images/Group8.png') 0% 0% no-repeat padding-box;
    background-size: 1163px 1350px;
    background-position-x: -317px;
    opacity: 1;
    @media (max-width: 570px) {
        background: none;
        height: auto;
        margin-top: 0;
    }
}

.page-latter-middle-card{
    width: 100%;
    height: 765px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255, 0.52) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    margin-top: 100px;
    @media (max-width: 570px) {
       height: auto;
    }
}

.page-latter-middle-header{
    text-align: center;
    font: normal normal bold 34px/41px Sole Serif Caption;
    letter-spacing: 0px;
    color: #353535;
    text-transform: uppercase;
    opacity: 1;
    z-index: 5;
    @media (max-width: 570px) {
        font: normal normal bold 21px/26px Sole Serif Caption;
    }
}

.page-letter-details-card{
    margin-top: 50px;
    height: 539px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 5px;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    @media (max-width: 570px) {
        height: 314px;
    }
}

.page-letter-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    gap: 36px;
    @media (max-width: 570px) {
        gap: 16px;
    }
    label {
        text-align: center;
        width: 1146px;
        font: normal normal 300 31px/47px Sole Serif Caption;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        @media (max-width: 570px) {
            font: normal normal 300 13px/20px Sole Serif Caption;
            width: 326px;
        }
    }
    p{
    text-align: left;
    font: normal normal medium 25px/38px Noto Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
        @media (max-width: 570px) {
            text-align: center;
            font: normal normal medium 12px/19px Noto Sans;

        }
    }
}

.avatar{
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background: transparent rgb(226, 112, 112) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;  
}

.footer-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom:0;
    margin-top: 254px;
    @media (max-width: 570px) {
        margin-top: 25px;
    }
}

.footer-detail{
    width: 100%;
    height: 373px;
    background: #70026D 0% 0% no-repeat padding-box;
    opacity: 1;
    @media (max-width: 570px) {
        background: none;
        height: auto;
    }
}

.copy-right{
    height: 81px;
    background: #8C298A 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    div{
        font: normal normal normal 23px/32px Noto Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-top:20px;
    }
    @media (max-width: 570px) {
        background: none;
        div {
            text-align: center;
            font: normal normal normal 23px/44px Segoe UI;
            letter-spacing: 0px;
            color: #000000;
            text-transform: uppercase;
            opacity: 1;
        }
    }
}

.footer-logo{
    position: absolute;
    width: 457px;
    height: 435px;
    background: transparent url('/images/Path 1069.png') 0% 0% no-repeat padding-box;
    opacity: 0.94;
    @media (max-width: 570px) {
        background: none;
        height: auto;
    }
}

.footer-logo-2{
    position: absolute;
    left: 172px;
    top: 0px;
    width: 443px;
    height: 438px;
    background: transparent url('/images/Path 1068.png') 0% 0% no-repeat padding-box;
    @media (max-width: 570px) {
        background: none;
        height: auto;
    }
}

@keyframes scale-out {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
@keyframes transform-translate {
    from{
        transform: scale(1);
    }
    to{
        transform: translateX(5px);
    }
} 